<main class="details">
  <!-- Details page -->
  <section id="details">
    <div id="details-wrapper">
      <p id="details-title">Name: {{currentAnimal.name}}</p>
      <div id="img-wrapper">
        <img src="{{currentAnimal.image}}" />
      </div>
      <div id="info-wrapper">
        <table>
          <tr>
            <td>
              <p>
                Years:
                <span id="details-years">{{currentAnimal.years}}</span>
              </p>
            </td>
            <td>
              <p>Kind: <span id="details-kind">{{currentAnimal.kind}}</span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Need of:
                <span id="details-need">{{currentAnimal.need}}</span></p>
            </td>
            <td>
              <p>Location:
                <span
                  id="details-location"
                >{{currentAnimal.location}}</span></p>
            </td>
          </tr>
        </table>
        <p>Description:
          <span
            id="details-description"
          >{{currentAnimal.description}}</span></p>
      </div>

      <!--Edit and Delete are only for creator-->
      {{#if isAuthenticated}}
        <div id="action-buttons">
          {{#if isOwner}}
            <a href="/animals/edit/{{currentAnimal._id}}" id="edit-btn">Edit</a>
            <a
              href="/animals/delete/{{currentAnimal._id}}"
              id="delete-btn"
            >Delete</a>
          {{else}}
            {{#unless isAlreadyDonated}}
              <a
                href="/animals/donate/{{currentAnimal._id}}"
                id="donation-btn"
              >Donation</a>
            {{else}}
              <p id="already-donated">You already donated!</p>
            {{/unless}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </section>
</main>